*{
    margin: 0;
    border: none;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transition: background-color .5s ease;
}

.Dark-mode{
    visibility: hidden;
}
.label{
    position: absolute;
    width: 7rem;
    height: 3rem;
    background-color:rgb(228, 220, 211);
    border-radius: 3rem;
    display: flex;
    align-items: center;
    padding: .4rem;
    cursor: pointer;
    
}
.circle{
    width: 3rem;
    height: 3rem;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    left: .4rem;
    animation: toggleOff .4s linear forwards;

}
input:checked + .label{
    background-color: salmon;
    transition: all .4s ease;
}
input:checked + .label .circle{
    animation: toggleOn 0.4s
    linear forwards;
}
@keyframes toggleOn {
    0%{
        transform: translateX(0);
        background-color: #fff;
    }
    70%{
        background-color: #9b9a9a;
    }
    100%{
        transform: translateX(4rem);
        background-color: black;
        box-shadow: 0 4px 8px black;

    }
}
@keyframes toggleOff {
    0%{
        transform: translateX(4rem);
        background-color: #000000;
    }
    70%{
        background-color: #9b9a9a;
    }
    100%{
        transform: translateX(0);
        background-color: rgb(255, 255, 255);
    }
}